body {
  background: linear-gradient(to bottom, #1f1d1b, #c18732);
  color: goldenrod;
  font-family: "Poppins", sans-serif;
}
.main-body {
  background-color: #0c0c0c;
  overflow-x: hidden;
  max-width: 1200px;
  width: auto;
  /* height: 100vh; */
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 10px 10px 150px 5px #1f1d1b;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: #0c0c0c;
}
.loader svg {
  width: 100%;
  max-width: 150px;
}
button {
  cursor: pointer;
}

/* Top menu */
.topmenu {
  background-color: #1f1d1b;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-inline: 3rem;
}
.search-section ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 20px;
  gap: 5px;
}
#search {
  background-color: #212121;
  border-radius: 50%;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
}
#search img {
  width: 16px;
  height: 16px;
  filter: invert(93%) sepia(0%) saturate(7474%) hue-rotate(30deg)
    brightness(107%) contrast(105%);
}
.account {
  display: flex;
  align-items: center;
}
#notifications {
  background-color: #212121;
  border-radius: 50%;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
}
#notifications img {
  width: 16px;
  height: 16px;
  filter: invert(93%) sepia(0%) saturate(7474%) hue-rotate(30deg)
    brightness(107%) contrast(105%);
}
.account img {
  width: 16px;
  height: 16px;
  filter: invert(93%) sepia(0%) saturate(7474%) hue-rotate(30deg)
    brightness(107%) contrast(105%);
}
.account svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg)
    brightness(103%) contrast(103%);
}
.settings ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  gap: 5px;
}
.settings img {
  max-width: 25px;
}
/* Recommendations */
.recommendations-viewer {
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem;
  color: snow;
}

.recommendation {
  max-width: 110px;
  width: 100%;
  padding: 2rem 5rem;
  padding-left: 1rem;
  border-radius: 5px;
  background: cover;
  margin-bottom: 1rem;
  cursor: pointer;
  & h1 {
    text-shadow: 4px 4px 10px #1a1a1a;
  }
}


/* Quick search section */

.quick-search {
  margin: 2rem 2rem 0 3rem;
}
.quick-search input {
  border-style: none;
  padding: 1rem;
  border-radius: 2px 2px 2px 2px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #212121;
  color: snow;
}
.category-wrapper {
  display: inline-block;
  position: relative;
}
.category-button {
  border-style: none;
  background-color: #c18732;
  padding: 1rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border-radius: 2px 2px 2px 2px;
  color: #1a1a1a;
}
.category-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  width: 100%;
}

.category-list li {
  border: 1px solid #303030;
  border-top: none;
  background-color: #1a1a1a;
  color: snow;
  padding: 0.5rem;
}
.category-list li:hover {
  background-color: #303030;
}

/* Popular picks section */
.popular {
  margin: 0.5rem 2rem 2rem 2rem;
}
.popular-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & ul {
    list-style: none;
    display: flex;
    gap: 5px;
  }
  & span {
    color: snow;
  }
}
.popular-bar img {
  width: 20px;
  height: 20px;
}
.popular-bar li{
  cursor: pointer;
  font-size: 13px;
}
.popular-bar li:hover {
  text-decoration:underline;
}

.popular-picks {
  display: none;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}
.pick {
  max-width: 160px;
  width: 100%;
  cursor: pointer;
  & img {
    border-radius: 10px;
    max-width: 160px;
    aspect-ratio: 1/1.4;
    object-fit: cover;
  }
  & p {
    font-size: 13px;
  }
  & h2 {
    color:#c18732
  }
  & h2:hover{
    color: #eca63d;
  }
}
