body {
  background-color: #1e2328;
  color: goldenrod;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-image: linear-gradient(black, goldenrod) */
}
.main-body {
  background-color: black;
  overflow-x: hidden;
  max-width: 1200px;
  width: auto;
  margin: auto;
  border-radius: 20px;
  padding: 1rem;
}
/* Top menu */
.topmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.search-section ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #1e2328;
  padding: 10px;
  border-radius: 20px;
  gap: 5px;
}
#search {
  background-color: #3b3f46;
  border-radius: 50%;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
}
#search img {
  width: 16px;
  height: 16px;
  filter: invert(93%) sepia(0%) saturate(7474%) hue-rotate(30deg)
    brightness(107%) contrast(105%);
}
.account {
  display: flex;
  align-items: center;
}
#notifications {
  background-color: #3b3f46;
  border-radius: 50%;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
}
#notifications img {
  width: 16px;
  height: 16px;
  filter: invert(93%) sepia(0%) saturate(7474%) hue-rotate(30deg)
    brightness(107%) contrast(105%);
}
.account img {
  width: 16px;
  height: 16px;
  filter: invert(93%) sepia(0%) saturate(7474%) hue-rotate(30deg)
    brightness(107%) contrast(105%);
}
.settings ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  gap: 5px;
}
.settings img {
  max-width: 25px;
}
/* Recommendations */
.recommendations-viewer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}
.recommendation {
  padding: 2rem 5rem;
  padding-left: 1rem;
  background-color: #1e2328;
  border-radius: 20px;
  background-size: cover;
  /* width: 50%; */
  & h1 {
    text-shadow: 2px 2px 5px #1e2328;
  }
}
/* Quick search section */
.quick-search {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 2rem;
  gap: 5px;
}
.pick-category {
  padding: 1.5rem 2rem;
  background-color: #3b3f46;
  border-radius: 20px;
}
/* Popular picks section */
.popular {
  margin: auto;
}
.popular-bar {
  display: flex;
  justify-content: space-between;
  & ul {
    list-style: none;
    display: flex;
    gap: 5px;
  }
}
.popular-bar img {
  width: 20px;
  height: 20px;
}
.popular-bar button {
  border: none;
  background-color: transparent;
  filter: invert(93%) sepia(0%) saturate(7474%) hue-rotate(30deg)
    brightness(107%) contrast(105%);
}

.popular-picks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}
.pick {
  background-color: #3b3f46;
  padding: 1rem;
}
